.App {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppHeader {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;

  & ul {
    list-style-type: none;
    text-align: center;
  }

  & a {
    text-decoration: none;
    color: #fff;
  }

  @media (width >= 992px) {
    & ul {
      text-align: left;
      display: flex;
    }

    & ul li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.AppTitle {
  font-size: 1.5em;
}

.AppIntro {
  margin-top: 20px;
  font-size: large;
  flex: 1;
}
